@model IEnumerable<Models.Machine>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Character.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Force.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tonnage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CharacterID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Character.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Force.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tonnage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CharacterID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MachineID }) |
            @Html.ActionLink("Details", "Details", new { id=item.MachineID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MachineID })
        </td>
    </tr>
}

</table>
